/* ADD YOUR STYLES HERE */
body {
	font-family: Helvetica;
	margin: 10px;
}

h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;
}

/* ? */
input[type="checkbox"] {
	-webkit-appearance: checkbox;
}

.instructions-container {
	margin: 20px auto;
	max-width: 800px;
}

.instruction-list > li {
	margin-bottom: 120px;
}

.instruction-text {
	color: #369;
	font-weight: 300;
	font-size: 24px;
}

.instruction-answer {
	margin-bottom: 60px;
	overflow: hidden;
}

.instruction-answer-row {
	padding:5px 50px 5px 50px;
	border-bottom: 1px solid #d3d3d3;
}

.instruction-answer-last-row {
	padding:5px 50px 5px 50px;
	border-bottom:none;
}

.large-bold-text {
	font-size: 36px;
	font-weight: bold;
}

.stats-row-top-bottom-line {
	border-top: 1px solid #d3d3d3;
	border-bottom: 1px solid #d3d3d3;
}

.small-gray-text {
	font-size:12px;
	color: #d3d3d3;
}

.padding-LR15 {
	padding: 0px 15px 0px 15px;
}

.padding-LR20 {
	padding: 0px 20px 0px 20px;
}
/*Bar Chart*/
.td-width {
	width:100%;
}

.javascript-bar-chart {
	/*width:99%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;
}

.ruby-bar-chart {
	/*width:57.1%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.java-bar-chart {
	/*width:38.1%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.python-bar-chart {
	/*width:38.1%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.shell-bar-chart {
	/*width:38.1%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.php-bar-chart {
	/*width:33.3%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.c-bar-chart {
	/*width:28.8%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.cplusplus-bar-chart {
	/*width:23.8%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.perl-bar-chart {
	/*width:19%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}

.objective-c-bar-chart {
	/*width:14.3%;*/
	color:white;
	background:#4099ff;
	padding-left: 5px;

}


tr th {
	text-align:right;
	padding-right:10px;
	width:20%;
}

/****************Lightbox  **********/


.lightbox {

	/*position:fixed;
	top:0px;
	left:0px;
	height:100%;*/

	height: 500px;
	width:100%;
	background: rgba(0,0,0,0.5);
	display:table;
	padding:10px;
	box-sizing: border-box;
}

.lightbox-container {
	display: table-cell;
	vertical-align:middle;
}


.lightbox-content {
	background: #fff;
	padding:20px;
	border-radius:10px;
	max-width:500px;
	margin: auto;
	overflow: hidden;	
}

.button {
	border-radius:5px;
	text-decoration:none;
	color:white;
	padding: 10px 35px 10px 35px;
	background: rgba(255,0,0,0.5);
	/*border: 1px dashed red;*/
	float:right;
}

/***************Media Block ***********/

.float-left {
	float:left;
}

.inline-block {
	display:inline-block;
}

.test-border {
	border: 1px dashed red;
}

.paragraph-80pct-width {
	width:60%;
	overflow:hidden;
}

.padding-20px {
	padding-left:20px;
}

.padding-media {
	padding-left:40px;
}


.comment-container {
	/*width:70%;*/
	overflow:hidden;
}

.media-text {
	clear:left;
}

.overflow-hide {
	overflow:hidden;
}



















